<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weiyi.lock.dao.mapper.DeviceOutMapper" >
    <resultMap id="BaseResultMap" type="com.weiyi.lock.dao.entity.DeviceOut" >
        <id column="device_num" property="deviceNum" jdbcType="BIGINT" />
        <result column="device_name" property="deviceName" jdbcType="VARCHAR" />
        <result column="bluetooth_mac" property="bluetoothMac" jdbcType="VARCHAR" />
        <result column="owner_phone" property="ownerPhone" jdbcType="BIGINT" />
        <result column="user_count" property="userCount" jdbcType="BIGINT" />
        <result column="version" property="version" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    </resultMap>

    <insert id="addDevice" parameterType="com.weiyi.lock.dao.entity.DeviceOut">
       INSERT INTO
       		device_out
       		(device_num,device_name,bluetooth_mac,version,create_time,update_time,status)
       	VALUES
       		(#{deviceNum}, #{deviceName}, #{bluetoothMac}, #{version}, #{createTime}, #{updateTime}, #{status})
    </insert>

    <select id="queryCountByDeviceNum" parameterType="Long" resultType="int">
        select count(*) from device_out where device_num = #{deviceNum}
    </select>

    <select id="queryDeviceByDeviceNum" parameterType="Long" resultType="com.weiyi.lock.dao.entity.DeviceOut">
        select * from device_out where device_num = #{deviceNum}
    </select>

    <select id="queryManageDeviceCount" parameterType="com.weiyi.lock.dao.request.QueryManageDeviceOutReq" resultType="int">
        select count(*) from device_out
        <where>
            <if test="deviceNum != null and deviceNum != ''">
                device_num = #{deviceNum}
            </if>
            <if test="ownerPhone != null and ownerPhone != ''">
                AND owner_phone = #{ownerPhone}
            </if>
            <if test="version != null and version != ''">
                AND version = #{version}
            </if>
            <if test="deviceName != null and deviceName != ''">
                AND device_name LIKE concat(concat('%',#{deviceName}),'%')
            </if>
            <if test="startTime != null and endTime != null and startTime != '' and endTime != ''">
                AND create_time between #{startTime} and #{endTime}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
    </select>

    <select id="queryManageDevice" parameterType="com.weiyi.lock.dao.request.QueryManageDeviceOutReq" resultType="com.weiyi.lock.dao.entity.DeviceOut">
        select * from device_out
        <where>
            <if test="deviceNum != null and deviceNum != ''">
                device_num = #{deviceNum}
            </if>
            <if test="deviceName != null and deviceName != ''">
                AND device_name LIKE concat(concat('%',#{deviceName}),'%')
            </if>
            <if test="ownerPhone != null and ownerPhone != ''">
                AND owner_phone = #{ownerPhone}
            </if>
            <if test="version != null and version != ''">
                AND version = #{version}
            </if>
            <if test="startTime != null and endTime != null and startTime != '' and endTime != ''">
                AND create_time between #{startTime} and #{endTime}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
        limit #{currentPage},10
    </select>

    <select id="queryUnManageDeviceCount" parameterType="com.weiyi.lock.dao.request.QueryUnManageDeviceOutReq" resultType="int">
        select count(*)
        from user_device
        where user_phone = #{userPhone}
    </select>

    <select id="queryUnManageDevice" parameterType="com.weiyi.lock.dao.request.QueryUnManageDeviceOutReq"
            resultType="com.weiyi.lock.dao.response.QueryUnManageDeviceOutRes">
        select d.device_num,d.device_name,d.owner_phone,d.version,u.expiry_date,u.create_time
        from user_device u,device_out d
        where u.user_phone = #{userPhone} and u.device_num = d.device_num

        <if test="deviceNum != null and '' != deviceNum">
            and u.device_num = #{deviceNum}
        </if>

        <if test="deviceName != null and '' != deviceName">
            and d.device_name LIKE concat(concat('%',#{deviceName}),'%')
        </if>

        <if test="ownerPhone != null and '' != ownerPhone">
            and d.owner_phone = #{ownerPhone}
        </if>
        limit #{currentPage},10
    </select>

    <update id="updateDevice" parameterType="com.weiyi.lock.dao.entity.DeviceOut">
        update device_out
        <set>
            <if test="deviceName != null and deviceName != ''">
                device_name = #{deviceName},
            </if>
            <if test="bluetoothMac != null and bluetoothMac != ''">
                bluetooth_mac = #{bluetoothMac},
            </if>
            <if test="ownerPhone != null and ownerPhone != ''">
                owner_phone = #{ownerPhone},
            </if>

            <if test="userCount != null">
                user_count = #{userCount},
            </if>
            <if test="version != null and version != ''">
                version = #{version},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="updateTime != null and updateTime != ''">
                update_time = #{updateTime},
            </if>
        </set>
        where device_num = #{deviceNum}
    </update>

    <update id="updateOwner" parameterType="com.weiyi.lock.dao.entity.DeviceOut">
        update device_out
        set owner_phone = #{ownerPhone}
        where device_num = #{deviceNum}
    </update>

    <delete id="deleteDevice" parameterType="Long">
        delete from device_out where device_num = #{deviceNum}
    </delete>

</mapper>